/* Menu */
nav {
	width: 10em;
}
.menu {
	/* text-align:center; */
	}
.menu li{
	/* position:relative; */
	/* display:inline-block; */
	/* background-color: hsl(0, 100%, 72%); */
	/* border-radius: 750px 750px 750px 750px; */
	-moz-border-radius: 200px 200px 200px 200px;
	/* -webkit-border-radius: 200px 200px 200px 200px; */
	/* padding-top: 2.5em; */
	/* padding-bottom: 2.5em; */
	margin-bottom: 1em;
	/* text-align: center; */
	list-style: none;
}
.menu a{
	display: block;
	padding:10px;
	width: 100%;
	height: 7.5em;
	border-radius: 750px 750px 750px 750px;
	background-color: hsl(0, 100%, 72%);
	text-align: center;
	margin-bottom: 1em;
}
.menu ul{
	/* position:absolute; */
	/* top: 44px; */
	}
.menu li ul{
	/* left:0; */
	-webkit-transition:all .35s ease-in;
	-moz-transition:all .35s ease-in;
	-o-transition:all .35s ease-in;
	transition:all .35s ease-in;
	opacity: 0;
	padding: 0;
	/* height: 0%; */
}
.menu li:hover ul{
	/* position:absolute; */
	left:250px;
	-webkit-transition:all .35s ease-in;
	-moz-transition:all .35s ease-in;
	-o-transition:all .35s ease-in;
	transition:all .35s ease-in;
	padding: 0;
	opacity: 1;
	/* height: 100%; */
}
.menu ul li a{
	/* display: inline-block; */
	/* padding: 6px; */
	width: 100%;
	/* height: 7.5em; */
	/* border-radius: 750px 750px 750px 750px; */
	background-color: hsl(0, 60%, 72%);
	/* text-align: center; */
	/* margin-bottom: 0; */
	/* padding: 0; */
}
.menu li ul li {
	-webkit-transition:all .35s ease-in;
	-moz-transition:all .35s ease-in;
	-o-transition:all .35s ease-in;
	transition:all .35s ease-in;
	
	position:relative;
	left:0;
}
.menu li:hover ul li {
	-webkit-transition:all .35s ease-in;
	-moz-transition:all .35s ease-in;
	-o-transition:all .35s ease-in;
	transition:all .35s ease-in;
	
	position: relative;
	left: 190px;
}
.menu li ul li:nth-child(1) {
	top: 307px;
	left: 0px;
	-webkit-transition:all .35s ease-in;
	-moz-transition:all .35s ease-in;
	-o-transition:all .35s ease-in;
	transition:all .35s ease-in;
}
.menu li:hover ul li:nth-child(1) {
	top: 150px;
	left: 160px;
	-webkit-transition:all .35s ease-in;
	-moz-transition:all .35s ease-in;
	-o-transition:all .35s ease-in;
	transition:all .35s ease-in;
}
.menu li ul li:nth-child(2) {
    top: 153px;
    left: 0;
	-webkit-transition:all .35s ease-in;
	-moz-transition:all .35s ease-in;
	-o-transition:all .35s ease-in;
	transition:all .35s ease-in;
}
.menu li:hover ul li:nth-child(2) {
    left: 240px;
	-webkit-transition:all .35s ease-in;
	-moz-transition:all .35s ease-in;
	-o-transition:all .35s ease-in;
	transition:all .35s ease-in;
    top: 150px;
}
.menu li ul li:nth-child(3) {
	top: -5px;
	left: 0;
	-webkit-transition:all .35s ease-in;
	-moz-transition:all .35s ease-in;
	-o-transition:all .35s ease-in;
	transition:all .35s ease-in;
}
.menu li:hover ul li:nth-child(3) {
	top: 153px;
	left: 160px;
	-webkit-transition:all .35s ease-in;
	-moz-transition:all .35s ease-in;
	-o-transition:all .35s ease-in;
	transition:all .35s ease-in;
}
.menu li ul li:first-child {
    /* margin-top: -1em; */
}
.menu li ul { margin-top:-29em; }

.main-menu { 
	/* background: hsl(0, 100%, 72%); */
	top: 0;
	padding: 20px;
}
.main-menu a:hover { color:hsl(37, 52%, 94%); }
.submenu { /* z-index:3000; */ }
