/* Circle Menu */
nav {
	width: 10em;
}
.menu a{
	display: block;
	width: 7.5em;
	height: 7.5em;
	border-radius: 50%;
	background-color: hsl(0, 100%, 72%);
	text-align: center;
}
.menu li{
	list-style: none;
	position: relative;
	margin: 0em 1em 1em 0em;
	width: 100%;
}
.submenu{
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	padding: 0px;
	-webkit-transition:all .35s ease-in;
	-moz-transition:all .35s ease-in;
	-o-transition:all .35s ease-in;
	transition:all .35s ease-in;
}

.submenu:hover {
	opacity: 1;
	
}
.submenu li {
	-webkit-transition:all .35s ease-in;
	-moz-transition:all .35s ease-in;
	-o-transition:all .35s ease-in;
	transition:all .35s ease-in;
	position: absolute;
	width: 100%;
	left: 0px;
	top: 0px;
	height: 100%;
}
.submenu:hover li:nth-child(1) {
	top: -106px;
	left: 160px;
}
.submenu:hover li:nth-child(2) {
	top: -8px;
	left: 270px;
}
.submenu:hover li:nth-child(3) {
	top: 90px;
	left: 160px;
}
.submenu:hover li:nth-child(4) {
	top: 230px;
	left: 220px;
}

/* Original Menu */
/*
nav {
	width: 10em;
}
.menu a{
	display: block;
	width: 7.5em;
	height: 7.5em;
	border-radius: 50%;
	background-color: hsl(0, 100%, 72%);
	text-align: center;
}
.menu li{
	list-style: none;
	position: relative;
	margin: 0em 1em 1em 0em;
	width: 100%;
}
.submenu{
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	padding: 0px;
}

.submenu:hover {
	opacity: 1;
	
}
.submenu li {
	-webkit-transition:all .35s ease-in;
	-moz-transition:all .35s ease-in;
	-o-transition:all .35s ease-in;
	transition:all .35s ease-in;
	position: absolute;
	width: 100%;
	left: 0px;
	top: 0px;
	height: 100%;
}
.submenu:hover li:nth-child(1) {
	top: -106px;
	left: 160px;
}
.submenu:hover li:nth-child(2) {
	top: -8px;
	left: 270px;
}
.submenu:hover li:nth-child(3) {
	top: 90px;
	left: 160px;
}
*/